<!-- Form comment start -->
<form action="/create_comment_from_user" method="post">
<!-- Form comment end -->

  <!-- Label and input for user_id start -->
  <!-- Input for user_id start -->
  <input type="hidden" name="user_id" value="<%= @user.id %>">
  <!-- Input for user_id end -->

  <!-- Label and input for body start -->
  <div class="form-group">
    <label for="body">
      Body
    </label>

    <!-- Input for body start -->
    <textarea id="body" name="body" class="form-control" rows="3"><%= @comment.body %></textarea>
    <!-- Input for body end -->
  </div>
  <!-- Label and input for body end -->

  <!-- Label and input for blogpost_id start -->
  <div class="form-group">
    <label for="blogpost_id">
      Blogpost
    </label>

    <!-- Input for blogpost_id start -->
    <input type="text" id="blogpost_id" name="blogpost_id" class="form-control" value="<%= @comment.blogpost_id %>">
    <!-- Input for blogpost_id end -->
  </div>
  <!-- Label and input for blogpost_id end -->

  <button class="btn btn-block btn-outline-secondary">
    Create comment
  </button>
</form>
