<h1>
  Edit tool match #<%= @tool_match.id %>
</h1>

<hr>

<form action="/update_tool_match/<%= @tool_match.id %>" method="post">

  <div class="form-group">
    <label for="beans_id">
      Beans
    </label>

    <%= select_tag(:beans_id, options_from_collection_for_select(Bean.all, :id, :origin, @tool_match.beans_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="tools_id">
      Tools
    </label>

    <%= select_tag(:tools_id, options_from_collection_for_select(Tool.all, :id, :name, @tool_match.tools_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update tool match
  </button>
</form>

<hr>

<a href="/tool_matches">
  Go back
</a>
