<form action="/create_tool_match_from_bean" method="post">

  <input type="hidden" name="beans_id" value="<%= @bean.id %>">

  <div class="form-group">
    <label for="tools_id">
      Tools
    </label>

    <%= select_tag(:tools_id, options_from_collection_for_select(Tool.all, :id, :name, @tool_match.tools_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create tool match
  </button>
</form>
