<h1>
  Add a new bean
</h1>


<hr>

<!-- Form bean start -->
<form action="/create_bean" method="post">
<!-- Form bean end -->

  <!-- Label and input for origin start -->
  <div class="form-group">
    <label for="origin">
      Origin
    </label>

    <!-- Input for origin start -->
    <input type="text" id="origin" name="origin" class="form-control">
    <!-- Input for origin end -->
  </div>
  <!-- Label and input for origin end -->

  <!-- Label and input for roast start -->
  <div class="form-group">
    <label for="roast">
      Roast
    </label>

    <!-- Input for roast start -->
    <input type="text" id="roast" name="roast" class="form-control">
    <!-- Input for roast end -->
  </div>
  <!-- Label and input for roast end -->

  <!-- Label and input for process_method start -->
  <div class="form-group">
    <label for="process_method">
      Process method
    </label>

    <!-- Input for process_method start -->
    <input type="text" id="process_method" name="process_method" class="form-control">
    <!-- Input for process_method end -->
  </div>
  <!-- Label and input for process_method end -->

  <!-- Label and input for flavor start -->
  <div class="form-group">
    <label for="flavor">
      Flavor
    </label>

    <!-- Input for flavor start -->
    <input type="text" id="flavor" name="flavor" class="form-control">
    <!-- Input for flavor end -->
  </div>
  <!-- Label and input for flavor end -->

  <!-- Label and input for altitude start -->
  <div class="form-group">
    <label for="altitude">
      Altitude
    </label>

    <!-- Input for altitude start -->
    <input type="text" id="altitude" name="altitude" class="form-control">
    <!-- Input for altitude end -->
  </div>
  <!-- Label and input for altitude end -->

  <!-- Label and input for precipitation start -->
  <div class="form-group">
    <label for="precipitation">
      Precipitation
    </label>

    <!-- Input for precipitation start -->
    <input type="text" id="precipitation" name="precipitation" class="form-control">
    <!-- Input for precipitation end -->
  </div>
  <!-- Label and input for precipitation end -->

  <!-- Label and input for instruction start -->
  <div class="form-group">
    <label for="instruction">
      Instruction
    </label>

    <!-- Input for instruction start -->
    <textarea id="instruction" name="instruction" class="form-control" rows="3"></textarea>
    <!-- Input for instruction end -->
  </div>
  <!-- Label and input for instruction end -->

  <!-- Label and input for recommended_machine_id start -->
  <div class="form-group">
    <label for="recommended_machine_id">
      Recommended machine
    </label>

    <!-- Input for recommended_machine_id start -->
    <input type="text" id="recommended_machine_id" name="recommended_machine_id" class="form-control">
    <!-- Input for recommended_machine_id end -->
  </div>
  <!-- Label and input for recommended_machine_id end -->

  <!-- Label and input for photo start -->
  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <!-- Input for photo start -->
    <input type="text" id="photo" name="photo" class="form-control">
    <!-- Input for photo end -->
  </div>
  <!-- Label and input for photo end -->

  <button class="btn btn-block btn-outline-secondary">
    Create bean
  </button>
</form>

<hr>

<a href="/beans">
  Go back
</a>
