<h1>
  Add a new company
</h1>


<hr>

<form action="/create_company" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="photo">
      Photo
    </label>

    <input type="file" id="photo" name="photo" class="form-control">
  </div>

  <div class="form-group">
    <label for="caption">
      Caption
    </label>

    <textarea id="caption" name="caption" class="form-control" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="title">
      Title
    </label>

    <textarea id="title" name="title" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create company
  </button>
</form>

<hr>

<a href="/companies">
  Go back
</a>
