<form action="/create_tool_match_from_tool" method="post">

  <div class="form-group">
    <label for="beans_id">
      Beans
    </label>

    <%= select_tag(:beans_id, options_from_collection_for_select(Bean.all, :id, :origin, @tool_match.beans_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="tools_id" value="<%= @tool.id %>">

  <button class="btn btn-block btn-outline-secondary">
    Create tool match
  </button>
</form>
